@import "variables.less";
/* General styles */

a {
    cursor: pointer;
}

body {
    background-color: @bg-color;
    font-family: 'Open Sans', sans-serif;
}


/* Bootstrap overrides */

body.grano .modal-content {
    box-shadow: 0 0 0;
    -webkit-box-shadow: 0 0 0;
}

.nav-section.heading {
    font-weight: bolder;
}

.panel-heading.panel-heading-buttons .panel-title {
    padding-top: 0.5em;
}

/* Base page layout */

#page {
    padding-bottom: 2em;
}

.container-fluid {
  margin: 0 5% 0 5%;
}

#airlock {
  background-color: @light-bg-color;
  border: 1px solid @box-border-color;
  padding: 1em;
}

#viewport {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    perspective: 1000;
}

.navbar#menu {
  border-bottom: 1px solid @box-border-color;
  text-transform: uppercase;
  background-color: @light-bg-color;

  .container-fluid {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .navbar-brand {
    padding-top: 2px;

    img {
      height: 45px;
    }
  }

  .navbar-toggle {
    border: 0px;
  }
}

.view-area {
  &.ng-enter {
    -webkit-animation: fadeIn 400ms;
    -moz-animation: fadeIn 400ms;
    -ms-animation: fadeIn 400ms;
    animation: fadeIn 400ms;
  }

  &.ng-leave {
    opacity: 0;
    display: none;
  }
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

footer {

  &, a, a:hover {
    color: darken(@bg-color, 30%);
  }

  a, a:hover {
    text-decoration: underline;
  }

  padding: 0em 0 1em 0;

  .inner {
      text-align: center;
  }
}

/* Modals */

.modal-content {
  .modal-footer {
    background-color: @bg-color;
  }
}

.breadcrumbs {
    margin-bottom: 2em;
}

.back-button {
    margin-left: 1em;
}

.fact-block {
    display: inline-block;
    margin-right: 3em;
}

/* Shared styles */

.hidden {
    display: none;
}

.strong {
    font-weight: 600;
}

.light {
    color: #999;
}

td.numeric, th.numeric, td.boolean, th.boolean {
    text-align: right;
}

tr.selected {
    background-color: @selected-color;
}


table.table {
    max-width: 100%;

    td.icon-col {
        width: 15%;
        white-space: nowrap;
    }

    td.value-col {
        width: 50%;
    }
}

.table thead tr th {
    border-bottom-width: 1px;
}

.bottom-padded {
    margin-bottom: 1em;
}

/* Properties */

.propvalue {
    display: inline-block;
    overflow: hidden;

    p {
        max-width: 98%;
    }

    a.auto {
        display: block;
        width: 300px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .long {
        cursor: pointer;
    }
}

.table .text-empty {
    color: #ddd;
    f-ont-style: italic;
}


