// Core variables and mixins
@import "../vendor/bootstrap/less/variables.less";
@import "../vendor/bootstrap/less/mixins.less";

@import "variables.less";

// Reset
@import "../vendor/bootstrap/less/normalize.less";
@import "../vendor/bootstrap/less/print.less";

// Core CSS
@import "../vendor/bootstrap/less/scaffolding.less";
@import "../vendor/bootstrap/less/type.less";
@import "../vendor/bootstrap/less/code.less";
@import "../vendor/bootstrap/less/grid.less";
@import "../vendor/bootstrap/less/tables.less";
@import "../vendor/bootstrap/less/forms.less";
@import "../vendor/bootstrap/less/buttons.less";

// Components
@import "../vendor/bootstrap/less/component-animations.less";
@import "../vendor/bootstrap/less/glyphicons.less";
@import "../vendor/bootstrap/less/dropdowns.less";
@import "../vendor/bootstrap/less/button-groups.less";
@import "../vendor/bootstrap/less/input-groups.less";
@import "../vendor/bootstrap/less/navs.less";
@import "../vendor/bootstrap/less/navbar.less";
@import "../vendor/bootstrap/less/breadcrumbs.less";
@import "../vendor/bootstrap/less/pagination.less";
@import "../vendor/bootstrap/less/pager.less";
@import "../vendor/bootstrap/less/labels.less";
@import "../vendor/bootstrap/less/badges.less";
@import "../vendor/bootstrap/less/jumbotron.less";
@import "../vendor/bootstrap/less/thumbnails.less";
@import "../vendor/bootstrap/less/alerts.less";
@import "../vendor/bootstrap/less/progress-bars.less";
@import "../vendor/bootstrap/less/media.less";
@import "../vendor/bootstrap/less/list-group.less";
@import "../vendor/bootstrap/less/panels.less";
@import "../vendor/bootstrap/less/wells.less";
@import "../vendor/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../vendor/bootstrap/less/modals.less";
@import "../vendor/bootstrap/less/tooltip.less";
@import "../vendor/bootstrap/less/popovers.less";
@import "../vendor/bootstrap/less/carousel.less";

// Utility classes
@import "../vendor/bootstrap/less/utilities.less";
@import "../vendor/bootstrap/less/responsive-utilities.less";


/* General styles */

a {
  cursor: pointer;
}

body {
  background-color: @bg-color;
  font-family: 'Open Sans', sans-serif;
}

/* Bootstrap overrides */

body.grano .modal-content {
  box-shadow: 0 0 0;
  -webkit-box-shadow: 0 0 0;
}

.nav-section.heading {
  font-weight: bolder;
}

.panel-heading.panel-heading-buttons .panel-title {
    padding-top: 0.5em;
}

/* Base page layout */

#page {
  padding-bottom: 2em;
}

.container-fluid {
  margin: 0 5% 0 5%;
}

@media (max-width: @screen-sm-min) {
  .container-fluid {
    margin: 0;
  }
}


.box {
  background-color: @light-bg-color;
  border: 1px solid @box-border-color;
  padding: 1em;
}

.unboxed {
  color: @unboxed-text-color;
}

#airlock {
}

.navbar#menu {
  border-bottom: 1px solid @box-border-color;
  text-transform: uppercase;
  background-color: @light-bg-color;

  .container-fluid {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .navbar-brand {
    padding-top: 2px;

    img {
      height: 45px;
    }
  }

  @media (max-width: @screen-md-min) {
    form {
      display: none;
    }
  }

  @media (min-width: @screen-md-min) {
    .navbar-searchbox {
      max-width: 350px;
    }
  }

  @media (min-width: @screen-lg-min) {
    .navbar-searchbox {
      max-width: 500px;
    }
  }

  .navbar-toggle {
    border: 0px;
  }
}

.nav-styled {
  text-transform: uppercase;
  padding-top: 1em;
}

.view-area {
  &.ng-enter {
    -webkit-animation: fadeIn 400ms;
    -moz-animation: fadeIn 400ms;
    -ms-animation: fadeIn 400ms;
    animation: fadeIn 400ms;
  }

  &.ng-leave {
    opacity: 0;
    display: none;
  }
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

footer {
  padding: 2em 0 1em 0;

  &, a, a:hover {
    color: darken(@bg-color, 30%);
  }

  a, a:hover {
    text-decoration: underline;
  }

  .inner {
  }

  .right {
    text-align: right;
  }

  ul {
    list-style-type: none;
  }
}

/* Modals */

.modal-content {
  .modal-footer {
    background-color: @bg-color;
  }
}

.breadcrumbs {
  margin-bottom: 2em;
}

.back-button {
  margin-left: 1em;
}

.fact-block {
  display: inline-block;
  margin-right: 3em;
}

/* Shared styles */

.hidden {
  display: none;
}

.strong {
  font-weight: 600;
}

.light {
  color: #999;
}

td.numeric, th.numeric, td.boolean, th.boolean {
  text-align: right;
}

tr.selected {
  background-color: @selected-color;
}


table.table {
    max-width: 100%;

    td.icon-col {
        width: 15%;
        white-space: nowrap;
    }

    td.value-col {
        width: 50%;
    }
}

.table thead tr th {
    border-bottom-width: 1px;
}

.bottom-padded {
    margin-bottom: 1em;
}

/* Properties */

.propvalue {
  display: inline-block;
  overflow: hidden;

  p {
    max-width: 98%;
  }

  a.auto {
    display: block;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .long {
    cursor: pointer;
  }
}

.table .text-empty {
  color: #ddd;
  f-ont-style: italic;
}


/* Home page bling */

.cover-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.opener {
  .cover-background;
  background-image: url(../images/home.png);
  min-height: 25em;
  position: relative;
  margin-right: -15%;
  margin-left: -15%;
  margin-top: -2em;
  margin-bottom: 2em;

  .tagline {
    font-size: 2em;
    position: absolute;
    bottom: 1em;
    right: 12%;
    max-width: 60%;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background-color: @brand-primary;
    color: #fff;
    padding: 0.2em 0.4em 0.2em 0.4em;
  }

  @media (max-width: @screen-sm-min) {
    .tagline {
      right: 7%;
      left: 7%;
      max-width: 84%;
    }
  }
}

.maincopy {
  font-size: 1.4em;
  line-height: 1.6em;
  color: @unboxed-text-color;
}


/* Query tool page */

.query-tool {

  .loading-bay {
    position: relative;
    width: 100%;
    z-index: 1000;

    .alert {
      position: absolute;
      width: 100%;
    }
  }

  .graph-area {
    position: relative;

    .floating {
      right: 0em;
      position: absolute;
    }
  }

  th {
    //white-space: nowrap;
  }

  td.obj-relation,
  th.obj-relation {
    background: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 10px,
      #fafafa 10px,
      #fafafa 20px
    );
  }

  .query-panel {

    .list-group {
      margin-bottom: 0;
    }

    /*.list-group-item {
      border-left: 0;
      border-right: 0;
    }

    .list-group-item:last-child {
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
    }*/
    
  }
}

.network-graph {
  svg {
    height: 20em;
    width: 100%;
  }

  path.link {
    fill: none;
    stroke: @border-color;
    stroke-width: 3px;
  }

  circle {
    fill: @border-color;
    stroke: @bg-color;
    cursor: pointer;
    stroke-width: 2px;
  }

  text {
    fill: #000;
    font: 12px 'Open Sans', sans-serif;
    font-weight: bold;
    pointer-events: none;
  }
}
