
@brand-primary: #ed1c24;

@border-color: #ddd;

@bg-color: #f8f8f8;
@bg-color: #f3f3f3;
@light-bg-color: #ffffff;
@selected-color: #e7e7e7;


// Bootstrap overrides
@nav-tabs-border-color: @border-color;
@table-border-color: @border-color;
