
<div class="row breadcrumbs hidden-xs hidden-sm">
    <div class="col-md-2">
        <span class="back-button" ng-show="project">
            <i class="fa fa-chevron-circle-left"></i> <a href="#/">{{project.slug}}</a>
        </span>
    </div>
    <div class="col-md-10">
        <strong ng-hide="project">Welcome to {{config.APP_NAME}}</strong>
        <span ng-show="project">
            <span class="fact-block">
                Project name: <strong>{{project.label}}</strong>
            </span>
            <span class="fact-block">
                Entities: <strong>{{project.entities_count}}</strong>
            </span>
            <span class="fact-block">
                Relations: <strong>{{project.relations_count}}</strong>
            </span>
        </span>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <ul class="nav nav-pills nav-stacked">
            <li ng-show="project" class="nav-section" ng-class="{'active': navSection=='entities'}">
                <a href="#/p/{{project.slug}}/entities">Entities</a>
            </li>
            <li ng-show="project" class="nav-section"><a href="#/p/{{project.slug}}">Relations</a></li>
            <li ng-show="project" class="nav-section">&nbsp;</li>
            <li gn-permission project="project" role="admin" ng-show="project" ng-class="{'active': navSection=='schemata'}">
                <a href="#/p/{{project.slug}}/schemata">Schemata</a>
            </li>
            <li gn-permission project="project" role="admin" ng-show="project" ng-class="{'active': navSection=='permissions'}">
                <a href="#/p/{{project.slug}}/permissions">Permissions</a>
            </li>
            <li gn-permission project="project" role="admin" ng-show="project" ng-class="{'active': navSection=='settings'}">
                <a href="#/p/{{project.slug}}/settings">Settings</a>
            </li>
            <li ng-show="project"><a href="#/p/{{project.slug}}">Data export</a></li>
            <li ng-show="project"><a href="#/p/{{project.slug}}">Data import</a></li>
            <li ng-show="project" class="nav-section">&nbsp;</li>
            <li><a href="http://docs.grano.cc">Documentation</a></li>
            <li><a href="https://github.com/pudo/grano/issues">Report an issue</a></li>
        </ul>
    </div>
    <div class="col-sm-10" ng-transclude>
    </div>
</div>


