
<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Value</th>
            <th>Source</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(name, property) in obj.properties">
            <td>
                {{attributes[property.name].label}}
            </td>
            <td width="40%">
                <gn-property-edit property="property" attribute="attributes[property.name]"
                    field-class="input-sm"></gn-property-edit>
            </td>
            <td>
                <input class="form-control input-sm" name="source_url"
                    ng-model="property.source_url"
                    placeholder="http://source.of/the/information">
            </td>
            <td>
                <button class="btn btn-danger btn-sm"
                    ng-disabled="!canRemoveProperty(property)"
                    ng-click="removeProperty(property)"><i class="fa fa-minus"></i></button>
            </td>
        </tr>
        <tr ng-show="hasAttributes()">
            <td>
                <select class="form-control input-sm" name="attribute"
                    ng-change="changeAttribute()"
                    ng-options="a as a.label group by a.schema.label for a in attributeChoices()"
                    ng-model="newProperty.attribute"></select>
            </td>
            <td width="40%">
                <gn-property-edit property="newProperty" attribute="newProperty.attribute"
                    field-class="input-sm"></gn-property-edit>
            </td>
            <td>
                <input class="form-control input-sm" name="source_url"
                    ng-model="newProperty.source_url"
                    placeholder="http://source.of/the/information">
            </td>
            <td>
                <button class="btn btn-success btn-sm"
                    ng-disabled="!newProperty.value || !newProperty.value.length"
                    ng-click="addProperty()"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
    </tbody>
</table>
