
<input type="text" class="form-control {{fieldClass}}" name="value" ng-model="property.value"
    placeholder="The meaning of life" ng-show="attribute.datatype=='string'">

<input type="number" class="form-control {{fieldClass}}" name="value" ng-model="property.value"
    placeholder="23" ng-show="attribute.datatype=='integer'">

<input type="text" class="form-control {{fieldClass}}" name="value" ng-model="property.value"
    placeholder="3.1415" ng-show="attribute.datatype=='float'">

<div class="checkbox" ng-show="attribute.datatype=='boolean'">
    <label>
        <input type="checkbox" name="value" ng-model="property.value">
        {{attribute.label}}
    </label>
</div>


<input ng-show="attribute.datatype=='datetime'" class="form-control {{fieldClass}}"
    placeholder="2038-01-19 03:14" name="value"
    type="text" date-time ng-model="property.value"
    view="date" min-view="date">


