<div class="alert alert-success">
    <strong>Welcome to {{project.label}}.</strong> You've successfully created a new project. As a
    next step, you should <a href="#/p/{{project.slug}}/schemata" class="alert-link">create schemata</a> to describe
    the types of entities and relations that will be part of this project.
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Next steps</h4>
        <ul>
            <li gn-permission project="project" role="editor">
                <a href="#/p/{{project.slug}}/entities/new">Create entities</a>
            </li>
            <li gn-permission project="project" role="editor">
                <a ng-click="uploadFile()">Upload raw data from a CSV file</a>
            </li>
            <li>
                <a href="{{config.API_ROOT}}/projects/{{project.slug}}/aliases" download>Download entity names and aliases</a>
            </li>
            <li gn-permission project="project" role="editor">
                <a href="#/p/{{project.slug}}/settings">Edit project settings</a>
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <h4>Use OpenRefine to match data!</h4>
        <p>
            <a href="http://openrefine.org">OpenRefine</a> is a powerful data cleaning tool 
            that can be connected to {{config.APP_NAME}} to integrate raw data 
            with the entities that are part of {{project.label}}.
        </p>
        <p>
            When you're using Refine's <a href="https://github.com/OpenRefine/OpenRefine/wiki/Reconciliation">Reconciliation</a> feature, add the following endpoint to match records in your 
            data against this project:
        </p>
        <code>{{config.API_ROOT}}/projects/{{project.slug}}/_reconcile</code>
    </div>
</div>
