
<gn-frame>
  <div class="row">
    <div ng-class="{'col-md-12': !previewEntity, 'col-md-3': previewEntity}">
      <table class="table table-hover table-condensed">
          <thead>
              <tr>
                  <th>
                    <form class="" role="form">
                      <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="search-query form-control" autofocus
                                ng-model="query.value" ng-keyup="updateFilter()" placeholder="Search entities">
                      </div>
                    </form>
                  </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="entity in entities.results" ng-class="{'selected': previewEntity && previewEntity.id==entity.id}">
                  <td ng-click="showEntityPreview(entity)">
                      <a class="structured">{{entity.properties.name.value}}</a>
                      <span class="light" ng-repeat="schema in entity.schemata" ng-hide="schema.hidden || previewEntity">
                           &middot; {{schema.label}}
                      </span>
                  </td>
              </tr>
          </tbody>
      </table>
    </div>
    <div ng-show="previewEntity" class="col-md-9">
      huhu
    </div>
  </div>
  <gn-pager class="pull-right" response="entities" load="loadEntities(url)"></gn-pager>
</gn-frame>
