
<div class="btn-group pull-right">
  <button type="button" class="btn btn-default">Edit</button>
  <button type="button" class="btn btn-default">Merge</button>
  <button type="button" class="btn btn-default">Download</button>
  <button type="button" class="btn btn-default"
    ng-click="deleteEntity()">Delete</button>
</div>

<div class="clearfix"></div>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Properties</th>
            <th>
                <button type="button" ng-click="editProperty(null)"
                    class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(name, property) in entity.properties">
            <td width="40%">
                <a href="#/p/{{project.slug}}/schemata/{{attributes[name].schema.name}}"
                   tooltip-placement="bottom" tooltip="Schema: {{attributes[name].schema.label}}">{{attributes[name].label}}</a>
            </td>
            <td>
                <gn-prop-view property="property" attribute="attributes[name]"></gn-prop-value>
            </td>
            <td>
                <div class="pull-right">
                    <a class="btn btn-xs btn-default" href="{{property.source_url}}"
                        tooltip-placement="bottom" tooltip="Source URL"
                        ng-show="property.source_url" target="_blank"><i class="fa fa-link"></i></a>
                    <gn-permission project="project" role="editor">
                        <a class="btn btn-xs btn-default"
                            tooltip-placement="bottom" tooltip="Edit"
                            ng-click="editProperty(attributes[name])"><i class="fa fa-edit"></i></a>
                    </gn-permission>
                    <gn-permission project="project" role="editor">
                        <a class="btn btn-xs btn-default" ng-disabled="name=='name'"
                            tooltip-placement="bottom" tooltip="Remove"
                            ng-click="disableProperty(attributes[name])"><i class="fa fa-minus"></i></a>
                    </gn-permission>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Inbound relations</th>
            <th width="1%">
                <button type="button" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></button>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="inbound.results">
            <td colspan="3">
                <div class="alert alert-info">
                    This entity does not have any inbound connections.
                </div>
            </td>
        </tr>
        <tr ng-repeat="relation in inbound.results">
            <td width="40%">
                <a ng-click="previewNext(relation.source)">{{relation.source.properties.name.value}}</a>
            </td>
            <td>
                <a href="#/p/{{project.slug}}/schemata/{{relation.schema.name}}">{{relation.schema.label}}</a>
            </td>
            <td>
                <a href="#">Details</a>
            </td>
        </tr>
    </tbody>
    <gn-pager class="pull-right" response="inbound" load="loadInbound(url)"></gn-pager>
</table>

<div class="clearfix"></div>

<table class="table">
    <thead>
        <tr>
            <th colspan="2">Outbound relations</th>
            <th width="1%"><button type="button" class="btn btn-xs btn-success pull-right"><i class="fa fa-plus"></i></button></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-hide="outbound.results">
            <td colspan="3">
                <div class="alert alert-info">
                    This entity does not have any outbound connections.
                </div>
            </td>
        </tr>
        <tr ng-repeat="relation in outbound.results">
            <td width="40%">
                <a ng-click="previewNext(relation.target)">{{relation.target.properties.name.value}}</a>
            </td>
            <td>
                <a href="#/p/{{project.slug}}/schemata/{{relation.schema.name}}">{{relation.schema.label}}</a>
            </td>
            <td>
                <a href="#">Details</a>
            </td>
        </tr>
    </tbody>
    <gn-pager class="pull-right" response="outbound" load="loadOutbound(url)"></gn-pager>
</table>
