
<gn-frame>
    <div class="panel panel-default">
        <gn-entity-header entity="entity"></gn-entity-header>
        <div class="panel-body"> 
            <div class="row">
                <div class="col-md-6">
                    <gn-property-list obj="entity" refresh="reloadEntity"></gn-property-list>
                </div>
                <div class="col-md-6">
                    <gn-relation-list entity="entity" direction="inbound"></gn-relation-list>
                    <div class="clearfix"></div>
                    <gn-relation-list entity="entity" direction="outbound"></gn-relation-list>
                </div>
            </div>
        </div>
    </div>
</gn-frame>
