<style>
  .loading-bay {
    position: relative;
    width: 100%;
  }

  .loading-bay .alert {
    position: absolute;
    width: 100%;
  }

  #graph svg {
      height: 20em;
      width: 100%;
  }

  #graph path.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }

  #graph circle {
    fill: #ccc;
    stroke: #f8f8f8;
    stroke-width: 1.5px;
  }

  #graph text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
  }

</style>

<div class="">
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default"
        ng-class="{'active': mode == 'graph'}" ng-click="setMode('graph')">Network diagram</button>
      <button type="button" class="btn btn-default"
        ng-class="{'active': mode == 'table'}" ng-click="setMode('table')">Table</button>
    </div>
  </div>
  <h1 class="unboxed">Motherfucking Query Tool</h1>
</div>

<div class="loading-bay">
  <div class="alert alert-warning" role="alert"
    ng-show="loading">
    <strong>Loading data from the server...</strong>
  </div>
</div>

<div class="row" ng-show="mode == 'graph'">
  <div gn-query-graph id="graph" project="project"></div>
</div>

<div class="row" ng-show="mode == 'table'">
  <div class="col-md-8">
    <div class="box">
      <gn-query-table project="project"></gn-query-table>
    </div>
  </div>
  <div class="col-md-4" style="overflow-z: scroll">
    <gn-query-panel project="project"></gn-query-panel>
  </div>
</div>
