<h1 class="unboxed">Motherfucking Query Tool</h1>

<div class="col-md-8">
  <div class="alert alert-warning" role="alert"
    ng-show="loading">
    <strong>Loading data from the server...</strong>
  </div>

  <style>
    #graph svg {
        height: 20em;
        width: 100%;
    }
  </style>

  <div gn-query-graph id="graph" project="project"></div>
  <div class="box">
    <gn-query-table project="project"></gn-query-table>
  </div>
</div>
<div class="col-md-4" style="overflow-z: scroll">
  <gn-query-panel project="project"></gn-query-panel>
</div>
