<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-condensed">
        <tbody>
            <tr ng-repeat="entity in entities.results" class="longname">
                <td>
                  <a class="structured" href="#/p/{{project.slug}}/entities/{{entity.id}}">
                    {{entity.properties.name.value}}
                  </a>
                  <span class="light">
                    &middot; {{entity.schema.label}}
                  </span>
                </td>
            </tr>
        </tbody>
    </table>
    <gn-pager class="pull-right" response="entities" load="loadEntities(url)"></gn-pager>
  </div>
</div>
