
<grano-frame>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th class="numeric">Entities</th>
                <th class="numeric">Relations</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in projects.results">
                <td>
                    <a class="strong" href="#/p/{{project.slug}}">{{project.label}}</a> <span class="light">{{project.slug}}</span>
                </td>
                <td class="numeric" width="10%">
                    {{project.entities_count}}
                </td>
                <td class="numeric" width="10%">
                    {{project.relations_count}}
                </td>
            </tr>
        </tbody>
    </table>
    <a ng-show="session.logged_in" class="btn btn-success"
        ng-click='newProject()'><i class="fa fa-plus"></i> New project</a>
</grano-frame>
