
<input type="text" class="form-control {{fieldClass}}" name="value" ng-model="property.value"
    ng-show="attribute.datatype=='string'">

<input type="number" class="form-control {{fieldClass}}" name="value" ng-model="property.value"
    ng-show="attribute.datatype=='integer'">

<input type="text" class="form-control {{fieldClass}}" name="value" ng-model="property.value"
    ng-show="attribute.datatype=='float'">

<div class="checkbox" ng-show="attribute.datatype=='boolean'">
    <label>
        <input type="checkbox" name="value" ng-model="property.value">
        {{attribute.label}}
    </label>
</div>

<p class="input-group" ng-show="attribute.datatype=='datetime'">
    <input type="text" class="form-control {{fieldClass}}" datepicker-popup="dd.MM.yyyy" ng-model="property.value"
        close-text="Close" is-open="dateOpened" show-button-bar="false" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="dateOpen($event)"><i class="fa fa-calendar"></i></button>
    </span>
</p>
