<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right" ng-show="!layer.root">
      <a href ng-click="remove({'layer': layer})"><i class="fa fa-times"></i></a>
    </div>

    <span class="dropdown">
      {{actionLabel()}}
      <strong><a href class="dropdown-toggle">
          {{getSchemaLabel()}} <i class="fa fa-caret-square-o-down"></i>
      </a></strong>
      <ul class="dropdown-menu">
        <li ng-repeat="schema in visibleSchemata">
          <a href dropdown-toggle ng-click="setSchema(schema)">
            {{schema.meta.plural || schema.label}}
          </a>
        </li>
      </ul>
    </span>
  </div>
  <div class="panel-body">
    <div class="dropdown">
      <p>
        Showing
        <span ng-show="layer.fields.properties.length==0">no details, </span>
        <span ng-repeat="(name, n) in layer.fields.properties">
          <strong>{{name}}</strong>, 
        </span>
        <a href dropdown-toggle>
          add columns.
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="attr in availableFields()">
            <a href dropdown-toggle ng-click="addField(attr)">{{attr.label}}</a>
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
