<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-right" ng-show="object.id!='root'">
      <a href ng-click="removeLayer()"><i class="fa fa-times"></i></a>
    </div>

    <span class="dropdown">
      {{actionLabel()}}
      <strong><a href class="dropdown-toggle">
          {{getSchemaLabel()}} <i class="fa fa-caret-square-o-down"></i>
      </a></strong>
      <ul class="dropdown-menu">
        <li ng-repeat="schema in visibleSchemata">
          <a href dropdown-toggle ng-click="setSchema(schema)">
            {{schema.meta.plural || schema.label}}
          </a>
        </li>
      </ul>
    </span>
  </div>
  <div class="panel-body">
    <div class="row" ng-repeat="prop in object.filters.properties">
      <div class="col-sm-4"><strong>{{prop.name}}</strong></div>
      <div class="col-sm-8"><input type="text" ng-model="prop.value"></div>
    </div>

    <div class="dropdown">
      <p>
        Showing
        <span ng-show="object.fields.properties.length==0">no details, </span>
        <span ng-repeat="field in object.fields.properties">
          <strong>{{getFieldAttribute(field, object.type).label}}</strong>, 
        </span>
        <a href dropdown-toggle>
          add columns.
        </a>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="attr in availableFields()">
            <a href dropdown-toggle ng-click="addField(attr)">{{attr.label}}</a>
          </li>
        </ul>
      </p>
    </div>

    <div class="btn-group">
      <div class="btn-group dropdown">
        <button type="button" class="btn btn-default" dropdown-toggle>
          <i class="fa fa-filter"></i> Apply filter
        </button>
        <ul class="dropdown-menu" role="menu">
          <li ng-repeat="attr in availableFilters()">
            <a href dropdown-toggle ng-click="addFilter(attr)">{{attr.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
