<div class="table-wrapper">
  <table class="table table-condensed table-bordered">
    <tr>
      <th ng-repeat="field in fields">
        <span class="dropdown">
          <a href dropdown-toggle>
            <i class="fa fa-ellipsis-v"></i>
            {{getFieldAttribute(field).label}}
          </a>
          <ul class="dropdown-menu">
            <li><a href dropdown-toggle ng-click="removeColumn(field)">Remove this column</a></li>
          </ul>
        </span>
      </th>
    </tr>
    <tr ng-repeat="row in rows">
      <td ng-repeat="cell in row">
        <a ng-show="cell.name=='name'" href="#/p/{{project.slug}}/entities/{{cell.id}}">{{cell.value}}</a>
        <span ng-hide="cell.name=='name'">{{cell.value}}</span>
      </td>
    </tr>
  </table>
</div>
